name: Sayann70 Spes Builder
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cleanup and Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y bc gperf zip curl libxml2-utils build-essential git-core python3 rsync
          sudo rm -rf /usr/share/dotnet /etc/mysql /usr/local/lib/android /opt/ghc
          mkdir -p ~/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
          chmod a+x ~/bin/repo
          sudo ln -sf ~/bin/repo /usr/bin/repo

      - name: ROM Source Sync
        run: |
          git config --global user.email "build@github.com"
          git config --global user.name "Builder"
          mkdir ~/rom && cd ~/rom
          # ArrowOS 13.1
          repo init -u https://github.com/ArrowOS/android_manifest.git -b arrow-13.1 --depth=1
          
          # Sayann70 drayverlari uchun Local Manifest
          mkdir -p .repo/local_manifests
          cat <<EOF > .repo/local_manifests/spes.xml
          <?xml version="1.0" encoding="UTF-8"?>
          <manifest>
            <project name="sayann70/device_xiaomi_spes" path="device/xiaomi/spes" remote="github" revision="13" />
            
            <project name="sayann70/kernel_xiaomi_spes" path="kernel/xiaomi/spes" remote="github" revision="13" />
            
            <project name="sayann70/vendor_xiaomi_spes" path="vendor/xiaomi/spes" remote="github" revision="13" />
          </manifest>
          EOF
          
          # Sync qilish (Xatolarni chetlab o'tish uchun)
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

      - name: Start Build
        run: |
          cd ~/rom
          export ARROW_GAPPS=true
          export ALLOW_MISSING_DEPENDENCIES=true
          . build/envsetup.sh
          lunch arrow_spes-userdebug
          mka bacon -j$(nproc --all)
          
