name: Spes ROM Builder (Jabiyeff)
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: System Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y bc gperf zip curl libxml2-utils build-essential git-core python3 rsync
          # Repo vositasini to'g'ri o'rnatish
          mkdir -p ~/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
          chmod a+x ~/bin/repo
          sudo ln -sf ~/bin/repo /usr/bin/repo

      - name: ROM Source Sync
        run: |
          # Git sozlamalari shart
          git config --global user.email "build@github.com"
          git config --global user.name "Builder"
          mkdir ~/rom && cd ~/rom
          # Manifestni qayta ko'rsatamiz (--depth=1 tezlashtiradi)
          repo init -u https://github.com/Awaken-OS/android_manifest -b triton --depth=1
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

      - name: Clone Jabiyeff Trees
        run: |
          cd ~/rom
          git clone https://github.com/Jabiyeff/android_device_xiaomi_spes -b 13 device/xiaomi/spes
          git clone https://github.com/Jabiyeff/android_kernel_xiaomi_spes -b 13 kernel/xiaomi/spes
          git clone https://github.com/Jabiyeff/android_vendor_xiaomi_spes -b 13 vendor/xiaomi/spes

      - name: Start Build
        run: |
          cd ~/rom
          export ALLOW_MISSING_DEPENDENCIES=true
          . build/envsetup.sh
          lunch awaken_spes-userdebug
          mka bacon -j$(nproc --all)
          
