name: Spes ROM Builder (ArrowOS-GAPPS)
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: System Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y bc gperf zip curl libxml2-utils build-essential git-core python3 rsync
          mkdir -p ~/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
          chmod a+x ~/bin/repo
          sudo ln -sf ~/bin/repo /usr/bin/repo

      - name: ROM Source Sync (ArrowOS 13.1)
        run: |
          git config --global user.email "builder@github.com"
          git config --global user.name "Builder"
          mkdir ~/rom && cd ~/rom
          # ArrowOS 13.1 (Android 13)
          repo init -u https://github.com/ArrowOS/android_manifest.git -b arrow-13.1 --depth=1
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

      - name: Clone Jabiyeff Trees
        run: |
          cd ~/rom
          git clone https://github.com/Jabiyeff/android_device_xiaomi_spes -b 13 device/xiaomi/spes
          git clone https://github.com/Jabiyeff/android_kernel_xiaomi_spes -b 13 kernel/xiaomi/spes
          git clone https://github.com/Jabiyeff/android_vendor_xiaomi_spes -b 13 vendor/xiaomi/spes

      - name: Start Build (GAPPS Included)
        run: |
          cd ~/rom
          export ALLOW_MISSING_DEPENDENCIES=true
          # GAPPS yig'ish buyrug'i
          export ARROW_GAPPS=true
          . build/envsetup.sh
          lunch arrow_spes-userdebug
          mka bacon -j$(nproc --all)
          
